@import "../../assets/style/global";

.services {
  padding-top: 100px;

  &_sp {
    width: 75%;
    display: flex;
    margin: 0 auto;
    text-align: center;
    align-items: center;
  }

  &_cards {
    width: 100%;
    margin-top: 100px;

    &_col-3 {
      width: 32%;
      background-color: $fff-color;
      padding: 35px 35px 35px 35px;
      box-shadow: 0px 10px 40px -5px rgba(0, 0, 0, 0.15);
      border-style: solid;
      border-width: 1px 1px 1px 1px;
      border-color: $fff-color;
      border-radius: 5px 5px 5px 5px;

      &_iconBox {
        width: 64px;
        height: 60px;
        display: flex;
        margin: 0 auto;
        justify-content: center;
        fill: $fff-color;
        background-color: $accent-color;
        border-radius: 5px 5px 5px 5px;
        font-size: 40px;
        padding: 10px 12px 10px 12px;
        transform: rotate(0deg);
        color: $fff-color;
        margin-bottom: 13px;
      }

      .servicesTitle {
        margin: 5px 0px 12px 0px;
        color: #101518;
        font-size: clamp(1.15625rem, 1.0462rem + 0.4891vw, 1.4375rem);
        font-weight: 700;
        line-height: 1.3em;
        padding: 0px 0px 0px 0px;
      }

      &_infoS {
        text-align: center;
        line-height: 1.5em;
        color: #56626C;
        font-size: clamp(0.875rem, 0.8261rem + 0.2174vw, 1rem);
        margin-bottom: 22px;
      }

      .href {
        background-color: #FFFFFF00;
        font-size: clamp(0.6875rem, 0.6386rem + 0.2174vw, 0.8125rem);
        font-weight: 600;
        text-transform: uppercase;
        line-height: 1.4em;
        letter-spacing: 0.5px;
        display: flex;
        align-items: center;
        gap: 5px;
        color: #2D984B;
        fill: #2D984B;
        border-style: solid;
        border-width: 0px 0px 1px 0px;
        border-color: $accent-color;
        transition: 0.5s;

        &::before {
          position: absolute;
          content: "";
          border-radius: inherit;
          transition: all .4s ease;
          z-index: -1;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background-size: 102% 102%;
          opacity: 0;
        }
      }

      &:hover, {
        border-style: solid;
        border-width: 1px 1px 1px 1px;
        border-color: $accent-color;
        transition: 0.5s;
        .href {
        color: $secondary-color;
          transition: 0.5s;
        }
      }
    }
  }
}