@import "global";

.header {
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  &_head {
    width: 100%;
    //border: 1px solid black;
    margin: 0 auto;
    max-width: 1320px;
    position: absolute;
    z-index: 99;
    &_linkContact {
      width: 100%;
      z-index: 98;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 12px 16px;
      background: $primary-color;
      border-radius: 0px 0px 10px 10px;

      &_col-10 {
        width: 80%;
        &_widget {
          overflow: hidden;

          &_item {
            display: flex;
            flex-wrap: wrap;

            &_list {
              display: flex;
              align-items: center;
              gap: 5px;
              margin-right: calc(30px / 2);

              &:nth-child(1) {
                margin-left: calc(30px / 2);
              }

              &:nth-child(2) {
                &::after {
                  border: none;
                }
              }

              &_icons {
                width: 13px;
                height: 13px;
                color: $accent-color;
              }

              &_text {
                font-size: clamp(0.6875rem, 0.6386rem + 0.2174vw, 0.8125rem);
                font-weight: 400;
                color: $fff-color;
              }

              &::after {
                margin-left: calc(30px / 2);
                //right: calc(-30px / 2);
                border-left-style: solid;
                border-left-width: 1px;
                content: "";
                height: 70%;
                border-color: #ffffff35;
              }
            }
          }
        }
      }

      &_col-2 {
        width: 20%;
        display: flex;
        justify-content: end;

        &_locationButton {
          padding: 8px 15px 8px 15px;
          display: inline-block;
          background-color: $accent-color;
          font-size: clamp(0.6875rem, 0.6386rem + 0.2174vw, 0.8125rem);
          font-weight: 600;
          text-transform: uppercase;
          line-height: 1.4em;
          color: $fff-color;
          border-style: none;
          border-radius: 5px 5px 5px 5px;
          &_lIcon {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
          }
        }
      }
    }
  }

  &_navbar {
    width: 100%;
    position: absolute;
    top: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    &_nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 76px;
      &_list-2 {
        width: 20%;
        &_logos {
          width: 80px;
        }
      }
      &_list-10 {
        width: 80%;
        display: flex;
        justify-content: end;
        &_hamburger {
          display: none;
          svg {
            width: 30px;
            height: 26px;
            color: #fff;
          }
          background-color: transparent;
        }
        &_overlay {
          height: 100% !important;
          padding-bottom: 10px;
          display: block;
          position: fixed;
          z-index: 14;
          top: 0;
          left: -100%;
          width: 100%;
          background-color: rgba(51, 51, 51, 0.5);
          opacity: 1;
          visibility: visible;
          transition: all 0.6s cubic-bezier(0.6, 0.1, 0.68, 0.53) 0.4s;
        }
        .active-overlay {
          opacity: 1;
          left: 0;
        }
        &_menu {
          display: flex;
          align-items: center;
          .hamburger-header {
            display: none;
            justify-content: space-between;
            align-items: center;
          }
          &_items {
            position: relative;
            color: $fff-color;
            font-size: clamp(0.8125rem, 0.7636rem + 0.2174vw, 0.9375rem);
            font-weight: 600;
            transition: 0.5s;
            text-transform: capitalize;
            line-height: 1.4em;
            padding: 0px 23px 0px 23px;
            cursor: pointer;
            &_close {
              width: 35px;
              border-radius: 5px;
              padding: 8px 6px 7px 7px;
              border: 1px solid #e7e0e0;
              background-color: transparent;
              &:hover {
                color: #4ecb71;
                transition: 0.5s;
              }
            }
            &:last-child {
              display: flex;
              align-items: center;
              justify-content: space-between;
            }
            &:hover {
              color: $accent-color;
            }
          }
        }
      }
    }
  }
  @media (max-width: 1024px) {
    &_head {
      padding: 0 10px;
    }
    &_navbar {
      padding: 0 10px;
      &_nav {
        &_list-10 {
          &_hamburger {
            display: flex;
          }
          .active-menu {
            left: 0;
          }
          &_menu {
            background-color: #fff;
            max-width: 350px;
            border-radius: 0px 0px 0px 0px;
            height: 100%;
            z-index: 1000;
            width: 100%;
            position: fixed;
            top: 0;
            left: -100%;
            box-shadow: 0 10px 30px 0 rgba(255, 165, 0, 0);
            overflow-y: auto;
            overflow-x: hidden;
            transition: left 0.6s cubic-bezier(0.6, 0.1, 0.68, 0.53);

            display: flex;
            flex-direction: column;
            -webkit-box-orient: vertical;
            -webkit-box-direction: reverse;
            .hamburger-header {
              display: flex;
            }
            &_items {
              color: #000;
              width: 100%;
              padding: 14px 20px 14px 20px;
              border-top: 1px solid #e7e0e0;
            }
          }
        }
      }
    }
  }
  @media (max-width: 768px) {
    &_head {
      &_linkContact {
        padding: 10px 14px;
        &_col-10 {
          &_widget {
            &_item {
              &_list {
                &:nth-child(2) {
                  display: none;
                }
              }
            }
          }
        }
        &_col-2 {
          width: 80%;
        }
      }
    }
    &_navbar {
      &_nav {
        &_list-10 {
          &_menu {
            max-width: 325px;
            &_items {
              padding: 12px 20px 12px 20px;
            }
          }
        }
      }
    }
  }
}
