.accordion {
  width: 100%;
  margin: auto;

  .accordion-item {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    overflow: hidden;
    transition: all 0.3s ease;

    &.open {
      .accordion-header {
        background: #1d4c71;
        color: white;
      }
    }

    .accordion-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 25px;
      background: #f1f1f1;
      cursor: pointer;
      font-size: clamp(1rem, 0.9511rem + 0.2174vw, 1.125rem);
      font-weight: 700;
      transition: background 0.3s ease;

      h3 {
        margin: 0;
      }

      svg {
        font-size: 14px;
      }
    }

    .accordion-content {
      padding: 15px;
      background: #fff;
      color: #56626C;
      line-height: 1.5em;

      border-top: 1px solid #ddd;
    }
  }
}
